<h1 class="d-flex justify-content-center align-item-center">Employee Management System</h1>

<p class="d-flex justify-content-center align-item-center bg-info">Table List</p>

 <div class="d-flex justify-content-center align-item-center">
        <ul class="list-group ">
            <li class="list-group-item "><a class="text-decoration-none" href="departments">Department</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="employees">Employee Details</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="managers">Manager</a></li>
            <li class="list-group-item"><a class="text-decoration-none" href="records">Employee Records</a></li>
           
        </ul>
    </div>